<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Form_With_Image</title>
    {% load static %}
  </head>
  <body>
    <div class="container">
      <h1>Add Employee Details</h1>
      <form action="{% url 'add_emp' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" name="emp_name"
            >Employee Name</label
          >
          <input type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" name="emp_num"
            >Phone Number</label
          >
          <input
            type="number"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" name="emp_add"
            >Address</label
          >
          <input type="text" class="form-control" id="exampleInputPassword1" />
        </div>
        <label for="exampleInputPassword1" class="form-label" name="file"
          >ID Proof</label
        >
        <input type="file" class="form-control mt-3" accept="image/*" />

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>

  <style>
    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: aqua;
      color: darkblue;
      margin-top: 10px;
      padding: 10px 0;
      width: 45%;
      margin-left: 350px;
    }
  </style>
</html>
